.image_carousel {
	padding: 0px 15px;
	position: relative;
        height:130px;
}
.image_carousel img {
	margin: 5px;
	display: block;
	float: left;
        height:100px;
        width: 160px;
}
a.prev, a.next {
	background: url(graphics/carousel_sprite.png) no-repeat transparent;
	width: 45px;
	height: 50px;
	display: block;
	position: absolute;
	top: 70px;
}
a.prev {			left: -22px;
					background-position: 0 0; }
a.prev:hover {		background-position: 0 -50px; }
a.prev.disabled {	background-position: 0 -100px !important;  }
a.next {			right: -22px;
					background-position: -50px 0; }
a.next:hover {		background-position: -50px -50px; }
a.next.disabled {	background-position: -50px -100px !important;  }
a.prev.disabled, a.next.disabled {
	cursor: default;
}

a.prev span, a.next span {
	display: none;
}
.pagination {
	text-align: center;
}
.pagination a {
	background: url(graphics/carousel_sprite.png) 0 -300px no-repeat transparent;
	width: 15px;
	height: 15px;
	margin: 0 5px 0 0;
	display: inline-block;
}
.pagination a.selected {
	background-position: -25px -300px;
	cursor: default;
}
.pagination a span {
	display: none;
}
.clearfix {
	float: none;
	clear: both;
}

.slider-wrapper{
    padding: 20px 15px 15px 20px;
    width:600px;
    height:310px;
}

#foo2_prev{
    margin-left: 30px;
    margin-top: -40px;
}

#foo2_next{
    margin-right: 40px;
    margin-top: -40px;
}

.imageBtn{
    cursor: pointer;
}
