/*-------------©ShiftedApps-----------------*/
/*==========Mihai Moraru ==========*/


html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body {line-height: 1}
ol, ul {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,
q:before, q:after {content:'';content:none}

input[type="checkbox"], input[type="radio"], input.radio, input.checkbox {vertical-align:text-top;width:13px;height:13px;padding:0;margin:0;position:relative;overflow:hidden;top:2px}
input[type="submit"],
button[type="submit"] { -webkit-appearance: none; }


body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background: url(graphics/bg.png) repeat #F3F3F3;
	margin: 0;
	padding: 0;
	color: #000;
}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 20px;
	padding-left: 20px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
}
a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}

/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	text-decoration: none; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {
	color: #2890cf;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: underline;
}

/*================= sprites =====================================*/
.searchForm button, .comments_icon, .mail, .facebook, .twitter_sm, .googleplus,
.readmore_icon, .twitter_icon, #sidebar_right .tfeed li, .bullet, .android_icon, .iOS_icon, .shadow_bar, .search .search-box button, .search-box button {
	background:url(graphics/sprites.png) no-repeat  -9999px;
}


/* ~~this fixed width container surrounds the other divs~~ */
.wrapper{
	width: 1000px;
	margin: 0 auto;
	}
	
.statusBar{
		height:15px; background-color:#0CF
	}

.container {
	width: 960px;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
}

/* ~~ the header is not given a width. It will extend the full width of your layout. It contains an image placeholder that should be replaced with your own linked logo ~~ */
.header {

}

.logo{
	float: left;
	width:	368px;
	height:	108px;
	display:block;
	padding:10px 0;
	}

.logo a, .logo a:visited{
	}
	
.logo a span, .logo a:visited span{
	background:url(graphics/logo.png) no-repeat;
	width:368px;
	height:108px;
	display:block;
	}
	
.logo a:hover span, .logo a:active span, .logo a:focus span{
	background: url(graphics/logo_hover2.png) no-repeat;
	}

.search-box {
	width: 500px;
	float: right;
	overflow: hidden;
	margin:0;
	}

.searchForm{
	margin: 22px 0 22px 0;
	}
	

	
#search_main{
	width: 469px;
	height: 60px;
	background-color: #F3F3F3;
	border: groove 2px #C6C6C6;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 0px 0px 0px 28px;
	font-size: 28px;
	color: #C6C6C6;
	}
	
#search_main:focus{
	background: #FAFAFA;
}

.search-box button {
	position:absolute;
	margin-left: 460px;
	margin-top: -42px;
	border: 0;
	width: 22px;
	height: 22px;
	background-position: -5px -63px;
	cursor: pointer;
	}

.search-box button:hover{
	width: 24px;
	height: 24px;
	background-position: -32px -63px;
	}

/* ~~ The navigation list styles (can be removed if you choose to use a premade flyout menu like Spry) ~~ */
.navigation{
	padding: 10px 0;
	}

ul.nav {
	list-style: none; /* this removes the list marker */
	margin-bottom: 10px; /* this creates the space between the navigation on the content below */
}
ul.nav li {
	display: inline;
	
}
ul.nav a, ul.nav a:visited { /* grouping these selectors makes sure that your links retain their button look even after being visited */
	background: #F3F3F3;
	padding: 5px 15px 5px 15px;
	text-decoration: none;
	border: outset 1px #C6C6C6;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus { /* this changes the background and text color for both mouse and keyboard navigators */	background: #FAFAFA;
	border: inset 1px #C6C6C6;
}

.headline{
	background:url(undefined/headline.png) no-repeat;
	height: 346px;
	padding: 10px 0;
	}

/*==================== Right Sidebar ==================*/
#sidebar_right {
	float: right;
	width: 320px;
	padding-bottom: 10px;
}

#sidebar_right ul {
	margin: 0;
	padding: 0;
}
#sidebar_right li {
	margin: 0 0 15px;
	padding: 0;
	list-style: none;
}

/*==================== Contact | Social Media ==================*/

.social_media {
	width: 300px;
	height: 74px;
	background-color: #f3f3f3;
	border: 1px solid #c6c6c6;
	margin-left: 20px;
	margin-bottom: 20px;
	}

.mail {
	background-position: -1px -1px;
	margin: 21px 18px 0 49px;
	}
	
.twitter_sm {
	background-position: -34px -1px;
	margin: 21px 18px 0 0px;
	}
	 
.facebook {
	background-position: -67px -1px;
	margin: 21px 18px 0 0px;
	}
	
.googleplus {
	background-position: -100px -1px;
	}

.mail, .twitter_sm, .facebook, .googleplus {
	width: 32px;
	height: 32px;
	display: inline-block;
	}

/*==================== Twitter Feed ==================*/
	
.twitter_feed {
	width: 300px;
	background-color: #f3f3f3;
	border: 1px solid #c6c6c6;
	margin-left: 20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	}

.twitter_feed ul {
	font-size:12px;
	}

.twitter_icon {
	display: inline-block;
	width:28px;
	height:20px;
	background-position: -1px -37px;
	margin: 10px 10px;
	float:left;
	}

.twitter_title {
	color: #505050;
	margin: 10px 30px;
	font-weight: 500;
	}
	
.twitter_title a {
	color: #2e96b3;
	}

	
#sidebar_right .tfeed li {
	background: url(graphics/bullet.png) no-repeat 10px .5em;
	padding-left:25px;
	}
	 

#sidebar_right .tfeed li span a {
	color: #2e96b3;
	}
	
#sidebar_right .tfeed li span + a {
	color: #2e96b3;
	}

/*==================== Android | Latest News ==================*/
.android_news {
	width: 300px;
	background-color: #f3f3f3;
	border: 1px solid #c6c6c6;
	margin-left: 20px;
	margin-bottom: 20px;
	}
	
.android_icon {
	display: inline-block;
	background-position: -30px -37px;
	width: 22px;
	height: 25px;
	margin: 10px 10px;
	float: left;
	}

a.android_posts {
	display: inline-block;
	color: #444444;
	font-weight: 500;
	margin: 10px 10px;
	}
	
.android_article {
	border-top: 1px solid #c6c6c6;
	padding-bottom: 10px;
	}
	
.android_article p {
	font-size: 13px;
	text-align: left;
	padding-top: 10px;
	}

.latest_readmore {
	font-size: 12px;
	margin-left: 200px;
	}

/*==================== iOS | Latest News ==================*/
.iOS_news {
	width: 300px;
	background-color: #f3f3f3;
	border: 1px solid #c6c6c6;
	margin-left: 20px;
	margin-bottom: 20px;
	}
	
.iOS_icon {
	display: inline-block;
	background-position: -58px -37px;
	width: 22px;
	height: 25px;
	margin: 10px 10px;
	float: left;
	}

a.iOS_posts {
	display: inline-block;
	color: #444444;
	font-weight: 500;
	margin: 10px 10px;
	}
	
.iOS_article {
	border-top: 1px solid #c6c6c6;
	padding-bottom: 10px;
	}

.iOS_article p {
	font-size: 13px;
	text-align: left;
	padding-top: 10px;
	}
/*==================== WP7 | Latest News ==================*/


/* ====================Content Posts ana shit, main area==================*/
.content {
	width: 640px;
	float: left;
	}

/* == This grouped selector gives the lists in the .content area space == */
.content ul, .content ol {
	padding: 0 15px 15px 40px;
	}

article {
	margin-bottom: 20px;
	}

.post{
	border:1px solid #C6C6C6;
	background: #FAFAFA;
	}

.postTitle{
	font-size: 36px;
	font-weight: 200;
	padding-top: 10px;
	}

.postMeta{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	padding-top: 10px;
	}
	
.postMeta a{
	text-decoration: none;
	}
	
.postMeta a:hover{
	text-decoration: underline;
	}

.postImage {
	margin:20px 45px;
	}
	
.postContent {
	font-size: 15px;
	padding-bottom: 10px;
	text-align: justify;
	}

.postInfo{
	font-size: 12px;
	padding-bottom: 10px;
	padding-top: 10px;
	}


.foLeft {
	margin-left: 20px;
	width:200px;
	height: 20px;
	color: #444444;
	display:inline-block;
	}

.readmore_icon{
	display:inline-block;
	background-position: -100px -40px;
	width: 12px;
	height: 12px;
	}


	
.foRight {
	display:inline;
	width:200px;
	margin-left: 310px;
	}

.comments_icon {
	display:inline-block;
	background-position: -116px -44px;
	width: 16px;
	height: 14px;
        font-size: 7px;
	padding:0;
	text-align:center;
	}


/* ~~ The footer ~~ */
.footer {
	background:url(graphics/bg_footer.png) repeat;
	height:560px;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
}

.shadow_bar {
	background:url(graphics/shadow_bar.png) repeat-x;
	height: 8px;
	}
	
.footer_content {
	width:1000px;
	margin: auto;
	color:#FFF;
	font-size: 11px;
	}

.footer_left {
	width: 320px;
	height: 320px;
	float: left;
	margin-top: 20px;
	background:#009900;
	}
	
.footer_middle {
	width: 320px;
	height: 320px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	background:#006699;
	}
	
.footer_right {
	width: 320px;
	height: 320px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	background:#FF6600;
	}

.nav_footer {
	padding: 20px 0;
	}
	
.footer_logo {
	background:url(graphics/footer_logo.png) no-repeat;
	width:400px;
	height: 140px;
	margin: auto;
	}

/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}


/*	721px
--------------------------------------------- */

@media screen and (-webkit-min-device-pixel-ratio: 1.5),
screen and (-o-min-device-pixel-ratio: 3/2),
screen and (min-device-pixel-ratio: 1.5), screen and (max-width:720px) {
               
    .wrapper
    {    
        width:100%;
    }
    .container
    {
        width:100%;
        font-size: 14px;
    }
                
                #sidebar_right{
                    display:none;
		}
                
                .logo{
                    display: none;    
                } 
                
                .search-box{
                    clear:both;
                    margin:0 auto;
                    width:95%;
                }
                
                .search-box button
                {
                    margin-left: -30px;
                    margin-top: 25px;
                }
                
                #search_main{
                    height:70px;
                    width: 87%;
                    font-size: 25px;
                }
                
                .navigation
                {
                    margin-left:10px;
                }
        
                .headline {
                    display: none;	
		}
             
        
                .content{  
                    width:100%;
                }
                
                article
                {
                    height:620px;
                    margin-bottom: 40px;
                    overflow: hidden;
                }
                
                .postTitle 
                {
                    font-size: 20px;
                }
                
                .postMeta
                {
                    
                }
                
                .postImage
                {
                    image-resolution: 50% from-image;
                }
                
                .imgPosted
                {
                    width:100%;
                }
                
                .postInfo
                {
                   display:none;
                }
                
                .postContent
                {
                    font-size: 18px;
                    
                }
                
                .footer{
                    width:100%;
                    overflow: hidden;
                }
                
                .footer_content{
                    display:none;
                }
}

@media screen and (device-width: 320px)
{
    body
    {
        display:none;
    }
    
}