/*-------------©ShiftedApps-----------------*/
/*==========Mihai Moraru ==========*/


html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body {line-height: 1}
ol, ul {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,
q:before, q:after {content:'';content:none}

input[type="checkbox"], input[type="radio"], input.radio, input.checkbox {vertical-align:text-top;width:13px;height:13px;padding:0;margin:0;position:relative;overflow:hidden;top:2px}
input[type="submit"],
button[type="submit"] { -webkit-appearance: none; }


body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background: url(graphics/bgp.gif) repeat #F3F3F3;
	margin: 0;
	padding: 0;
	color: #000;
}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	
	padding-right: 20px;
	padding-left: 20px;
}
a img {
	border: none;
}

a:link {
	text-decoration: none;
        color: #2890cf;
}
a:visited {
	color: #2890cf;
	text-decoration: underline;
}
a:hover, a:active, a:focus {
	text-decoration: underline;
}

/*================= sprites =====================================*/
.searchForm button, .comments_icon, .mail a, .facebook a, .twitter_sm a, .googleplus a,
.readmore_icon, .twitter_icon, #sidebar_right .tfeed li, .bullet, .android_icon, .iOS_icon, .shadow_bar, .search .search-box button, .search-box button, .shiftedapps_icon, #mail_stamp a, #twitter_stamp a, #facebook_stamp a, #googleplus_stamp a{
	background:url(graphics/sprites.png) no-repeat  -9999px;
}


/* ~~this fixed width container surrounds the other divs~~ */
.wrapper{
	width: 1000px;
	margin: 0 auto;
	}
	
.statusBar{
		height:15px; background-color:#0CF
	}

.container {
	width: 960px;
	margin: 0 auto;
}


.header {
	width:960px;
}

.logo{
	float: left;
	width:	368px;
	height:	108px;
	display:block;
	padding:10px 0;
	}

.logo a, .logo a:visited{
	}
	
.logo a span, .logo a:visited span{
	background:url(graphics/logo_out.png) no-repeat;
	width:368px;
	height:108px;
	display:block;
	}
	
.logo a:hover span, .logo a:active span, .logo a:focus span{
	background: url(graphics/logo_in.png) no-repeat;
	}
	

.search-box {
	float: right;
	margin:0;
	}

.searchForm{
	width:500px;
	margin: 22px 0 22px 0;
	}
	

	
#search_main{
	width: 469px;
	height: 60px;
	background-color: #F3F3F3;
	border: groove 2px #C6C6C6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 0px 0px 0px 28px;
	font-size: 28px;
	color: #C6C6C6;
	}
	
#search_main:focus{
	background: #FAFAFA;
}

.search-box button {
	position:absolute;
	margin-left: 460px;
	margin-top: -42px;
	border: 0;
	width: 22px;
	height: 22px;
	background-position: -5px -63px;
	cursor: pointer;
	}

.search-box button:hover{
	width: 24px;
	height: 24px;
	background-position: -32px -63px;
	}

.navigation{
	padding: 10px 0;
	}

ul.nav {
	list-style: none;
	margin-bottom: 10px;
}
ul.nav li {
	display: inline;
	
}
ul.nav a, ul.nav a:visited {
	background: #F3F3F3;
	padding: 5px 15px 5px 15px;
	text-decoration: none;
	border: outset 1px #C6C6C6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus {	
        background: #FAFAFA;
	border: inset 1px #C6C6C6;
}

.headline{
        margin-bottom: 20px;
	}

/*==================== Right Sidebar ==================*/
#sidebar_right {
	float: right;
	width: 320px;
	padding-bottom: 10px;
}

#sidebar_right ul {
	margin: 0;
	padding: 0;
}
#sidebar_right li {
	margin: 0 0 15px;
	padding: 0;
	list-style: none;
}

/*==================== Contact | Social Media ==================*/

.social_media {
	width: 300px;
	height: 74px;
	background-color: #f3f3f3;
	border: 1px solid #c6c6c6;
	margin-left: 20px;
	margin-bottom: 20px;
	}

.mail a{
	width:32px;
	height:32px;
	cursor: pointer;
	display: inline-block;
	background-position: -1px -1px;
	margin: 21px 18px 0 49px;
	}
	
.twitter_sm a{
	width:32px;
	height:32px;
	cursor: pointer;
	display: inline-block;
	background-position: -34px -1px;
	margin: 21px 18px 0 0px;
	}
	 
.facebook a{
	width:32px;
	height:32px;
	cursor: pointer;
	display: inline-block;
	background-position: -67px -1px;
	margin: 21px 18px 0 0px;
	}
	
.googleplus a{
	width:32px;
	height:32px;
	cursor: pointer;
	display: inline-block;
	background-position: -100px -1px;
	}

.googleplus a:hover, .facebook a:hover, .twitter_sm a:hover, .mail a:hover{
	-webkit-box-shadow: 0 0 10px rgba(2,151,176,.6), inset 0 0 10px rgba(2,151,176,1);
	-moz-box-shadow: 0 0 10px rgba(2,151,176,.6), inset 0 0 10px rgba(2,151,176,1);
	box-shadow: 0 0 10px rgba(2,151,176,.6), inset 0 0 10px rgba(2,151,176,1);
	border-radius: 20%;
	}

/*==================== Twitter Feed ==================*/
	
.twitter_feed {
	width: 300px;
	background-color: #f3f3f3;
	border: 1px solid #c6c6c6;
	margin-left: 20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	}

.twitter_feed ul {
	font-size:12px;
	}

.twitter_icon {
	display: inline-block;
	width:28px;
	height:20px;
	background-position: -1px -37px;
	margin: 10px 10px;
	float:left;
	}

.twitter_title {
	color: #505050;
	margin: 10px 30px;
	font-weight: 500;
	}
	
.twitter_title a {
	color: #2e96b3;
	}

	
#sidebar_right .tfeed li {
	background: url(graphics/bullet.png) no-repeat 10px .5em;
	padding-left:25px;
	margin-right: 15px;
	}
	 

#sidebar_right .tfeed li span a {
	color: #2e96b3;
	}
	
#sidebar_right .tfeed li span + a {
	color: #2e96b3;
	}
	
/*==================== Shifted Apps | Latest News ==================*/
.latest_posts {
	width: 300px;
	background-color: #f3f3f3;
	border: 1px solid #c6c6c6;
	margin-left: 20px;
	margin-bottom: 20px;
	}
	
.shiftedapps_icon {
	display: inline-block;
	background-position: -56px -61px;
	width: 24px;
	height: 26px;
	margin: 10px 10px;
	float: left;
	}

a.shiftedapps_posts {
	display: inline-block;
	color: #444444;
	font-weight: 500;
	margin: 10px 10px;
	}
	
.shiftedapps_article_title p{
	
	}
	
.shiftedapps_article {
	border-top: 1px solid #c6c6c6;
	padding-bottom: 10px;
	}
	
.shiftedapps_article p {
	font-size: 13px;
	text-align: left;
	padding-top: 10px;
	}

.latest_readmore {
	font-size: 12px;
	margin-left: 200px;
	}

.time_since_update p {
		font-size: 11px;
		color: #A4C639;	
	}


/*==================== Android | Latest News ==================*/
.android_news {
	width: 300px;
	background-color: #f3f3f3;
	border: 1px solid #c6c6c6;
	margin-left: 20px;
	margin-bottom: 20px;
	}
	
.android_icon {
	display: inline-block;
	background-position: -30px -37px;
	width: 22px;
	height: 25px;
	margin: 10px 10px;
	float: left;
	}

a.android_posts {
	display: inline-block;
	color: #444444;
	font-weight: 500;
	margin: 10px 10px;
	}
	
.android_article {
	border-top: 1px solid #c6c6c6;
	padding-bottom: 10px;
	}
	
.android_article p {
	font-size: 13px;
	text-align: left;
	padding-top: 10px;
	}

.latest_readmore {
	font-size: 12px;
	margin-left: 200px;
	}

/*==================== iOS | Latest News ==================*/
.iOS_news {
	width: 300px;
	background-color: #f3f3f3;
	border: 1px solid #c6c6c6;
	margin-left: 20px;
	margin-bottom: 20px;
	}
	
.iOS_icon {
	display: inline-block;
	background-position: -58px -37px;
	width: 22px;
	height: 23px;
	margin: 10px 10px;
	float: left;
	}

a.iOS_posts {
	display: inline-block;
	color: #444444;
	font-weight: 500;
	margin: 10px 10px;
	}
	
.iOS_article {
	border-top: 1px solid #c6c6c6;
	padding-bottom: 10px;
	}

.iOS_article p {
	font-size: 13px;
	text-align: left;
	padding-top: 10px;
	}
/*==================== WP7 | Latest News ==================*/


/* ====================Content Posts ana shit, main area==================*/
.content {
	width: 640px;
	float: left;
	}

.content ul, .content ol {
	padding: 0 15px 15px 40px;
	}

article {
	margin-bottom: 20px;
	}

.post{
	border:1px solid #C6C6C6;
	background: #FAFAFA;
	}

.added{
       padding-left: 20px;
       color:#A4C639;
       font-size: 13px;
        }

.link_to_articles a{
    font-size: 13px;  
    text-shadow: 0px 1px 0px #fff;
    background-color:#f6f6f6;
    padding: 2px 10px 2px 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    border:1px solid #ddd;
    color:#444;
    text-decoration: none;
    margin-left:20px;
    line-height: 20px;
    float:left;
}

.link_to_category a{
    font-size: 13px;  
    text-shadow: 0px 1px 0px #fff;
    background-color:#F6F6F6;
    padding: 2px 10px 2px 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    border:1px solid #ddd;
    color:#444;
    text-decoration: none;
    margin-left:10px;
    line-height: 20px;
    float:left;
   /* Safari 4+, Chrome 1-9 */
   background-image: -wsebkit-gradient(linear, 0% 0%, 0% 100%, from(#F6F6F), to(#DDDDDD));
   /* Safari 5.1+, Mobile Safari, Chrome 10+ */
   background-image: -webkit-linear-gradient(top, #F6F6F6, #DDDDDD); 
   /* Firefox 3.6+ */
   background-image: -moz-linear-gradient(top, #F6F6F6, #DDDDDD);
   /* IE 10+ */
   background-image: -ms-linear-gradient(top, #F6F6F6, #DDDDDD);
   /* Opera 11.10+ */
   background-image: -o-linear-gradient(top, #F6F6F6, #DDDDDD);
}

.link_to_category a:hover{
   background-color:#DDDDDD;
   background-image: -wsebkit-gradient(linear, 0% 0%, 0% 100%, from(#DDDDDD), to(#F6F6F6));
   background-image: -webkit-linear-gradient(top, #DDDDDD, #F6F6F6); 
   background-image: -moz-linear-gradient(top, #DDDDDD, #F6F6F6);
   background-image: -ms-linear-gradient(top, #DDDDDD, #F6F6F6);
   background-image: -o-linear-gradient(top, #DDDDDD, #F6F6F6);
}

.big_title{
         padding:20px 0;
         border: 1px solid #c6c6c6;
         background-color:#fafafa;
         margin-bottom: 20px;
         line-height: 45px;
        }
        
.big_title_size{
    margin-top: 10px;
    font-size:48px;
}
        
.postTitle{
	font-size: 36px;
	font-weight: 200;
	padding-top: 10px;
	}
	
.postTitle a{
        color: #444444;
        }

.postMeta{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
        padding: 10px 20px;
	}
	
.postMeta a{
	text-decoration: none;
	}
	
.postMeta a:hover{
	text-decoration: underline;
	}

.posted{   
     color: #A4C639;      
        }
        
.postImage {
	margin:10px 45px;
	}
	
.imgPosted{
    width:100%;
    border-radius: 3px;
    }

.postContent p{
        padding-right: 0px;
        padding-left: 0px; 
    }
    
.postContent li{
    list-style-type: disc;
    }
	
.postContent {
	font-size: 15px;
	padding-bottom: 10px;
	text-align: justify;
        margin-left: 20px;
        margin-right: 20px;
	}
.postConten div {
            
        }

.youtube-player{  
        margin-left: 20px;
        width: 600px;
        height: 361px;
        }

.postInfo{
	font-size: 12px;
	padding-bottom: 10px;
	padding-top: 10px;
	}


.foLeft {
	margin-left: 20px;
	width:200px;
	height: 20px;
	color: #444444;
	display:inline-block;
	}

.readmore_icon{
	display:inline-block;
	background-position: -100px -40px;
	width: 12px;
	height: 12px;
	}


	
.foRight {
	display:inline;
	width:200px;
	margin-left: 310px;
	}

.comments_icon {
	display:inline-block;
	background-position: -116px -44px;
	width: 16px;
	height: 14px;
        font-size: 7px;
	padding:0;
	text-align:center;
	}


/* ~~ The footer ~~ */
.footer {
	background:url(graphics/bg_footer.png) repeat;
	height:370px;
	position: relative;
	clear: both;
}

.shadow_bar {
	background:url(graphics/shadow_bar.png) repeat-x;
	height: 8px;
	}
	
.footer_content {
	width:1000px;
	margin: auto;
	color:#FFF;
	font-size: 11px;
	}
	
/*========================================================================================*/
/* ~~ The footer LEFT ~~ */
.footer_left {
	width: 320px;
	height: 320px;
	float: left;
	margin-top:20px;
	}

.footer_logo a{
	background:url(graphics/footer_logo.png) no-repeat;
	width:320px;
	height: 104px;
	margin:	auto;
	display:block;
	}
	
.footer_logo a:hover{
	background:url(graphics/footer_logo_hover.png) no-repeat;
	}
	
/*========================================================================================*/
/* ~~ The footer MIDDLE ~~ */
.footer_middle {
	width: 320px;
	height: 320px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	}

.nav_footer {
	margin-top: 10px;
	margin-left: 60px;
	font-family:Georgia, "Times New Roman", Times, serif;
	line-height: 20px;
	font-size: 12px;
	}

.nav_footer a{
	color: #f9f9f9;
	}

.footer_text {
	font-size: 16px;
	letter-spacing: -1px;
	color: #f6f6f6;
	margin-left:40px;
	}
	
/*========================================================================================*/
/* ~~ The footer RIGHT ~~ */	
.footer_right {
	width: 320px;
	height: 320px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	}

#mail_stamp{
	float: left;
	}

#mail_stamp a{
	width: 95px;
	height: 95px;
	background-position: -101px -190px;
	display: block;
	cursor: pointer;
	
	}
	
#mail_stamp a:hover{
	-webkit-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
	-moz-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
	box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
	border-radius: 50%;
	}

#twitter_stamp{
	margin-top: 50px;
	margin-left: 180px;
	}
		
#twitter_stamp a{
	width: 95px;
	height: 95px;
	background-position: -5px -190px;
	display: block;
	cursor: pointer;
	
	}
	
#twitter_stamp a:hover{
	-webkit-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
	-moz-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
	box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
	border-radius: 50%;
	}
	
#facebook_stamp{
	float:left;
	margin-left: 30px;
	}

#facebook_stamp a{
	width: 95px;
	height: 95px;
	background-position: -101px -93px;
	display: block;
	cursor: pointer;
	
	}
	
#facebook_stamp a:hover{
	-webkit-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
	-moz-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
	box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
	border-radius: 50%;
	}

#googleplus_stamp{
	margin-left: 150px;
	margin-top: 70px;
	}

#googleplus_stamp a{
	width: 95px;
	height: 95px;
	background-position: -4px -92px;
	display: block;
	cursor: pointer;
	
	}
	
#googleplus_stamp a:hover{
	-webkit-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
	-moz-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
	box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
	border-radius: 50%;
	}

/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  
	float: right;
	margin-left: 8px;
}
.fltlft {
	float: left;
	margin-right: 8px;
}
.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}


/*	721px
--------------------------------------------- */

@media screen and (-webkit-min-device-pixel-ratio: 1.5),
screen and (-o-min-device-pixel-ratio: 3/2),
screen and (min-device-pixel-ratio: 1.5), screen and (max-width:720px) {
               
    .wrapper
    {    
        width:100%;
    }
    .container
    {
        width:100%;
        font-size: 14px;
    }
                
                #sidebar_right{
                    display:none;
		}
                
                .logo{
                    display: none;    
                } 
                
                .search-box{
                    clear:both;
                    margin:0 auto;
                    width:95%;
                }
                
                .search-box button
                {
                    margin-left: -30px;
                    margin-top: 25px;
                }
                
                #search_main{
                    height:70px;
                    width: 87%;
                    font-size: 25px;
                }
                
                .navigation
                {
                    margin-left:10px;
                }
        
                .headline {
                    display: none;	
		}
             
        
                .content{  
                    width:100%;
                }
                
                article
                {
                    height:620px;
                    margin-bottom: 40px;
                    overflow: hidden;
                }
                
                .postTitle 
                {
                    font-size: 20px;
                }
                
                .postMeta
                {
                    
                }
                
                .postImage
                {
                    image-resolution: 50% from-image;
                }
                
                .imgPosted
                {
                    width:100%;
                }
                
                .postInfo
                {
                   display:none;
                }
                
                .postContent
                {
                    font-size: 18px;
                    
                }
                
                .youtube-player{  
                        margin-left: 20px;
                        width:310px;
                        height: 181px;
                        }
                
                .footer{
                    width:100%;
                    overflow: hidden;
                }
                
                .footer_content{
                    display:none;
                }
}

@media screen and (device-width: 320px)
{
    body
    {
        display:none;
    }
    
}