/*-------------©ShiftedApps Mobile-----------------*/
/*==========Mihai Moraru ==========*/


html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body {line-height: 1}
ol, ul {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,
q:before, q:after {content:'';content:none}

input[type="checkbox"], input[type="radio"], input.radio, input.checkbox {vertical-align:text-top;width:13px;height:13px;padding:0;margin:0;position:relative;overflow:hidden;top:2px}
input[type="submit"],
button[type="submit"] { -webkit-appearance: none; }

html{
    height: 100%;
}

body {
	font: 100%/1.4 Arial, Helvetica, sans-serif;
	background: url(graphics/bgp.gif) repeat #F6F6F6;
	margin: 0;
	padding: 0;
	color: #000;
}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	
	padding-right: 20px;
	padding-left: 20px;
}
a img {
	border: none;
}

a:link {
	text-decoration: none;
        color: #2890cf;
}
a:visited {
	color: #2890cf;
	text-decoration: underline;
}
a:hover, a:active, a:focus {
	text-decoration: underline;
}

/*================= sprites =====================================*/
.searchForm button, .comments_icon, .mail a, .facebook a, .twitter_sm a, .googleplus a,
.readmore_icon, .twitter_icon, #sidebar_right .tfeed li, .bullet, .android_icon, .iOS_icon, .shadow_bar, .search .search-box button, .search-box button, .shiftedapps_icon, #mail_stamp a, #twitter_stamp a, #facebook_stamp a, #googleplus_stamp a, .logo a span, .logo a:hover span, .footer_logo a{
	background:url(graphics/sprites_mobile.png) no-repeat  -9999px;
}


/* ~~this fixed width container surrounds the other divs~~ */
.wrapper{
	width: 100%;
	margin: 0 auto;
	}
	
.statusBar{
		height:15px; background-color:#0CF
	}

.container {
	width: 100%;
	margin: 0 auto;
}


.header {
	width:100%;
}

.logo a{
	float: left;
	display:block;
	padding:10px 0;
	}
    
#mobile_logo{
        width:	100%;
        }


	

	

.search-box {
	float: right;
	margin:0;
	}

.searchForm{
	width:500px;
	margin: 22px 0 22px 0;
	}
	

	
#search_main{
	width: 469px;
	height: 60px;
	background-color: #F3F3F3;
	border: groove 2px #C6C6C6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 0px 0px 0px 28px;
	font-size: 28px;
	color: #C6C6C6;
	}
	
#search_main:focus{
	background: #FAFAFA;
}

.search-box button {
	position:absolute;
	margin-left: 460px;
	margin-top: -42px;
	border: 0;
	width: 22px;
	height: 22px;
	background-position: -5px -63px;
	cursor: pointer;
	}

.search-box button:hover{
	width: 24px;
	height: 24px;
	background-position: -32px -63px;
	}

.navigation{
    height: 50px;
    text-align: center;
    line-height: 44px;
    width:99%;
    margin:0 auto;

	}
        
#nav1 a, #nav2 a, #nav3 a, #nav4 a{
        background-color: #F3F3F3;
        border: outset 1px #C6C6C6;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        float:left;
        width:24%;
        height:100%;
        text-decoration: none;
        margin-left:0.5%;
        }
        
#nav1 a:hover, #nav2 a:hover, #nav3 a:hover, #nav4 a:hover{
       background: #FAFAFA;
       border: inset 1px #C6C6C6
        }



.headline{
	height: 346px;
	padding: 10px 0;
	}

#mobileSlider{
    display:block;
}

.swipe {
    padding-bottom:20px;
    }

.swipe li div, .swipe div div div {
    margin:0 0px;
    padding:120px 0px;
    background:#1db1ff;
    font-weight:bold;
    color:#fff;
    font-size:20px;
    text-align:center;
    }
small {
    margin:0 10px 30px;
    display:block;
    font-size:12px;
    }

/* ====================Content Posts ana shit, main area==================*/
.content {
	width: 100%;
	}

.content ul, .content ol {
	padding: 0 15px 15px 40px;
	}

article {
	margin-bottom: 20px;
	}

.post{
	border:1px solid #C6C6C6;
	background: #FAFAFA;
	}

.postTitle{
	font-size: 36px;
	font-weight: 200;
	padding-top: 10px;
        line-height: 32px;
	}
	
.postTitle a{
        color: #444444;
        }

.postMeta{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	padding-top: 10px;
        padding-bottom: 10px;
	}
	
.postMeta a{
	text-decoration: none;
	}
	
.postMeta a:hover{
	text-decoration: underline;
	}

.postedImage{
            width:100%
        }
        
.posted{   
     color: #A4C639;      
        }
        
.postImage {
	margin:10px 20px;
	}
	
.imgPosted{
    width:100%;
    }

.postContent p{
        padding-right: 0px;
        padding-left: 0px; 
    }
	
.postContent {
	font-size: 15px;
	padding-bottom: 10px;
	text-align: justify;
        margin-left: 20px;
        margin-right: 20px;
	}
.postConten div {
            
        }

.youtube-player{  
        margin-left: 20px;
        width: 100%;
        height: 361px;
        }



/* ~~ The footer ~~ */
.footer {
	background:url(graphics/bg_footer.png) repeat;
	height:950px;
	position: relative;
	clear: both;
}

.shadow_bar {
	background:url(graphics/shadow_bar.png) repeat-x;
	height: 8px;
	position:absolute;
	bottom: 950px;
	width: 100%;
	}
	
.footer_content {
	width:100%;
	margin: auto;
	color:#FFF;
	font-size: 11px;
        height:900px;
	}
	
/*========================================================================================*/
/* ~~ The footer LEFT ~~ */        
.footer_left {
        margin-top: 30px;
	}

.nav_footer {   
            width:100%;
            list-style: none;
            padding: 0;
            
        }     
        
.nav_footer li {
	color: #f9f9f9;
        padding: 10px 0px 10px 20px;
        border:1px outset #C6C6C6;
        cursor: pointer;
        color: #000000;
        font-size: 20px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ededed);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		to(#ededed));
	text-shadow:
		0px -1px 0px rgba(255,255,255,0.4),
		0px 1px 0px rgba(250,250,250,0.3);
        text-transform: uppercase;
        letter-spacing: 2;
        opacity:0.7;
        filter:alpha(opacity=70);
	}

.nav_footer li a, .nav_footer li a:link{
        color:#5A5A5A;
        text-decoration: none;
        display: block;
	}

	
/*========================================================================================*/
/* ~~ The footer MIDDLE ~~ */
.footer_middle {
	width: 130px;
        float:left;
	}

.footer_logo{
            width:130px;
        margin: 20px;
	display:block;
        }
        
.footer_logo a{
	
	}
	
/*========================================================================================*/
/* ~~ The footer RIGHT ~~ */	
.footer_right {
        margin-top: 20px;
	margin-left:200px;
        display: block;
	}

#mail_stamp{
        margin-bottom: 10px;
	}

#mail_stamp a{
	width: 95px;
	height: 95px;
	background-position: -101px -190px;
	display: block;
	cursor: pointer;
	}
	
#mail_stamp a:hover{
	-webkit-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
	-moz-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
	box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
	border-radius: 50%;
	}

#twitter_stamp{
        margin-bottom: 10px;
	}
		
#twitter_stamp a{
	width: 95px;
	height: 95px;
	background-position: -5px -190px;
	display: block;
	cursor: pointer;
	
	}
	
#twitter_stamp a:hover{
	-webkit-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
	-moz-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
	box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
	border-radius: 50%;
	}
	
#facebook_stamp{
        margin-bottom: 10px;
	}

#facebook_stamp a{
	width: 95px;
	height: 95px;
	background-position: -101px -93px;
	display: block;
	cursor: pointer;
	
	}
	
#facebook_stamp a:hover{
	-webkit-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
	-moz-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
	box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
	border-radius: 50%;
	}

#googleplus_stamp{
        margin-bottom: 10px;
	}

#googleplus_stamp a{
	width: 95px;
	height: 95px;
	background-position: -4px -92px;
	display: block;
	cursor: pointer;
	
	}
	
#googleplus_stamp a:hover{
	-webkit-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
	-moz-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
	box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
	border-radius: 50%;
	}

/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  
	float: right;
	margin-left: 8px;
}
.fltlft {
	float: left;
	margin-right: 8px;
}
.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}