html
{

}

body
{
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background: url(graphics/bgp.gif) repeat #F3F3F3;
	margin: 0;
	padding: 0;
	color: #000;
}

#wrapper{
	width: 1000px;
	margin: 0 auto;
	}
	
#logo
{
	background: url(graphics/UC_logo.png) no-repeat;
	width: 620px;
	height: 190px;
	margin:100px auto;
}

#text
{

}

.insetText {
    font-family: Lucida Grande;
    background-color: #666666;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	color: transparent;
	text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
	text-align: center;
	margin: -50px auto 50px
}



#twitter
{
	width: 172px;
	margin: 0 auto;
}
